/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap");

/* Global Styles */
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

.heading {
  font-size: 40px;
  color: black;
}

.colorWhite {
  color: black;
}

.pad2 {
  padding: 2%;
}
/* End of Global Styles */

/* Navbar Styles */
.navbar {
  background: yellow;
}

.navbar .navMenu ul li a {
  text-decoration: none;
  color: yellow;
  cursor: pointer;
}

/* End of Navbar Styles */

/* Carousel Styles */
@media screen and (ma-width: 500px) {
  #carousel img {
    height: 600px;
  }
}
/* End of Carousel Styles */
/* Jumbotron*/
.jumbotron {
  text-align: center;
  font-style: oblique;
}

/* Footer Styles */

.footer {
  margin-top: 2%;
  background: yellow;
}

.footer h1 a {
  text-decoration: none;
  color: black;
}
.footer h1 {
  text-align: justify;
}

/* End of Footer Styles */
/* Guides Styles*/
.guides img {
  height: 320px;
  width: 100%;
}

.guides .bgDetailsGuides {
  background: #d9ff00;
  width: 100%;
}

.guides .bgDetailsGuides h3 {
  padding: 4%;
  margin-top: 0%;
}

.guides .bgDetailsGuides p {
  padding: 0% 3% 6% 3%;
}

.guides button {
  outline: none;
  color: black;
  padding: 12px;
  font-size: 1.2em;
  letter-spacing: 1px;
  margin: 1em 1em 0 0;
  -webkit-appearance: none;
  background: yellow;
  border: 1px solid yellow;
  transition: 0.5s all;
  width: 100%;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  cursor: pointer;
}

/* Gallery Styles */

.gallery img {
  height: 320px;
  width: 100%;
}

.gallery .bgDetailsGallery {
  background: #caeb12;
  width: 100%;
}

.gallery .bgDetailsGallery h3 {
  padding: 4%;
  margin-top: 0%;
}

.gallery .bgDetailsGallery p {
  padding: 0% 3% 6% 3%;
}

.gallery button {
  outline: none;
  color: black;
  padding: 12px;
  font-size: 1.2em;
  letter-spacing: 1px;
  margin: 1em 1em 0 0;
  -webkit-appearance: none;
  background: yellow;
  border: 1px solid yellow;
  transition: 0.5s all;
  width: 100%;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  cursor: pointer;
}

/* Gallery Styles */

/* Footer Styles */

.socialIcons {
  color: black;
  font-size: 30px;
}

.details table img {
  height: 420px;
  width: 100%;
}

/* End of Footer Styles */

/* About us */

.aboutus img {
  height: 430px;
}

.aboutus .bgBlue {
  background: #3f51b5;
}

.aboutus .whiteHr {
  border: 1px solid rgb(238, 255, 6);
}

.aboutus h3 {
  color: rgb(239, 243, 16);
}

/* End of About us */
/* Tourism Details*/
.Tourismdetails .column {
  font-size: 16px;
  text-align: justify;
}
